# Managed by Ansible linux_hardening_password
# /etc/pam.d/common-password - auth-related modules common to all services

password  requisite   pam_pwquality.so retry={{ pam_pwquality_retry }}
password  requisite   pam_pwhistory.so use_authtok
password	[success=1 default=ignore]	pam_unix.so obscure yescrypt
password	requisite			pam_deny.so
password	required			pam_permit.so